@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  background: #f4f4f4 !important;
}

.realtorsCards {
  font-family: Inter;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
}

.realtorsCards__list__item {
  padding: 32px;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #EDEDED;
}

.realtorsCards__list__item+.realtorsCards__list__item {
  margin-top: 16px;
}

.realtorsCards__list__item__img {
  border-radius: 12px;
  width: 270px;
  height: 270px;
}

.realtorsCards__list__item__info {
  height: 100%;
}

.realtorsCards__list__item__name {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
}

.realtorsCards__list__item__locationTime {
  /* margin-top: 8px; */
  color: #4F4F4F;
  font-size: 16px;
  font-weight: 400;
}

.realtorsCards__list__item__discription {
  margin-top: 16px;
}

.realtorsCards__list__item__feedbackAndContacts {
  padding: 16px;
  border-radius: 12px;
  background: #F4F4F4;
}

.realtorsCards__list__item__categories.desktop {
  /* margin-top: calc(14px - 8px); */
  margin-top: 0;
}

.realtorsCards__list__item__categories__item {
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 4px;
  color: #2b2b22;
  background: #f4f4f4;
}

.realtorsCards__list__item__categories__item.deals {
  color: #4db663;
  background: transparent;
  border: 1px solid #4DB663;
}

.realtorsCards__list__item__feedbackAndContacts__wrapper {
  position: relative;
  width: 100%;
}

.realtorsCards__list__item__feedbackAndContacts {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.realtorsCards__list__item__feedbackAndContacts__star__line {
  width: 1px;
  background: #7A7A7A;
  height: 24px;
}

.realtorsCards__list__item__feedbackAndContacts__star__text {
  margin-left: 8px;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 500;
}

.realtorsCards__list__item__feedbackAndContacts__star__review {
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 400;
}

.realtorsCards__list__item__feedbackAndContacts__phone {
  font-size: 14px;
  font-weight: 600;
}

.realtorsCards__list__item__feedback__item+.realtorsCards__list__item__feedback__item {
  margin-left: 12px;
}

.realtorsCards__list__item__feedbackAndContacts__addToFavourite {
  cursor: pointer;
  padding: 11px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
}

.realtorsCards__list__item__feedbackAndContacts.mobile {
  position: absolute;
} 

.realtorsCards__list__item__feedbackAndContacts__addToFavourite svg {
  width: 17px;
  height: 17px;
}

.realtorsCards__list__item__feedbackAndContacts__phone {
  min-width: 177px;
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  margin-left: 16px;
  background: #4DB663;
}

.realtorsCards__list__item__feedbackAndContacts__phone.text {
  cursor: pointer;
  color: #fff;
}

.realtorsCards__list__item__feedbackAndContacts__phone.phone {
  font-weight: 500;
  background: transparent;
  border: 1px solid #4DB663;
  color: #2B2B2B;
}

.anticon.anticon-heart {
  color: #7A7A7A;
}

.anticon.anticon-heart.active {
  color: #F44F5A !important;
}

.realtorsCards__list__item__feedbackAndContacts__phone.phone a {
  color: #2B2B2B;
}

.anticon.anticon-heart {
  transition: color 0.1s ease;
}

.realtorsCards__list__item__info__wrapper {
  margin-left: -15px !important;
}

.realtorsCards__list__item__categories.mobile {
  display: none;
}

.realtorsCards__list__item__info__wrapper {
  margin-left: 34px !important;
}

.realtorsCards__list__item__feedbackAndContacts__half {
  flex-wrap: nowrap;
}

@media (max-width: 1280px) {

  .realtorsCards__list__item {
    padding: 24px;
  }

  .realtorsCards__list__item__locationTime {
    font-size: 14px;
    margin-top: 4px;
  }

  .realtorsCards__list__item__categories__item {
    padding: 2px 8px;
  } 

  .realtorsCards__list__item__feedbackAndContacts {
    padding: 12px 16px;
  }

}

@media (max-width: 1024px) {

  .realtorsCards__list__item__img {
    width: 240px;
    height: 240px;
  }

  .realtorsCards__list__item__discription__wrapper {
    position: absolute !important;
    bottom: 0;
  }

  .realtorsCards__list__item__feedbackAndContacts__wrapper.desktop {
    display: none !important;
  }

  .realtorsCards__list__item__info {
    height: 100%;
    position: relative;
  }

  .realtorsCards__list__item__feedbackAndContacts {
    position: static;
  } 

  .realtorsCards__list__item__feedbackAndContacts__wrapper.mobile .realtorsCards__list__item__feedbackAndContacts {
    margin-top: 24px;
  }

  .realtorsCards__list__item__discription {
    margin-top: 0;
  }

  .realtorsCards__list__item__feedbackAndContacts__wrapper.mobile {
    display: flex;
  }

}

@media (max-width: 768px) {

  .realtorsCards__list__item__img {
    width: 166px;
    height: 166px;
  }

  .realtorsCards__list__item__discription__wrapper  {
    display: none;
  }

}

@media (max-width: 665px) {

  .realtorsCards__list__item__info__wrapper {
    margin-left: 10px !important;
  }

}

@media (max-width: 480px) {

  
  .realtorsCards__list__item__discription__wrapper {
    display: none;
  }

  .realtorsCards__list__item__img {
    width: 70px;
    height: 70px;
  }

  .realtorsCards__list__item__categories.desktop {
    display: none;
  }

  .realtorsCards__list__item__categories.mobile {
    display: flex;
  }

  .realtorsCards__list__item__categories.mobile {
    margin-top: 16px;
  }

  .realtorsCards__list__item__name {
    font-size: 20px;
  }

}

@media (max-width: 360px) {

  .realtorsCards__list__item__feedbackAndContacts__phone {
    margin-left: 0;
  }

  .realtorsCards__list__item__feedbackAndContacts__half>div {
    justify-content: space-between;
  }
  
  .realtorsCards__list__item__feedbackAndContacts__half:nth-child(2) {
    width: 100%;
  }

  .realtorsCards__list__item__feedbackAndContacts__half:nth-child(2) .ant-row {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

}


@media (max-width: 320px) {

  .realtorsCards__list__item__img {
    width: 56px;
    height: 56px;
  }

  .realtorsCards__list__item__info__wrapper  {
    font-size: 16px;
  }

  .realtorsCards__list__item__locationTime {
    font-size: 12px;
    margin-top: 2px;
  }

  .realtorsCards__list__item {
    padding: 16px;
  }

}